# Зависимости
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-store

# Сборка
.next
dist
out
build

# Временные файлы
.DS_Store
.env
.env.local
.env.development*
.env.test*
.env.production*

# Кеши
.npm
.cache
.turbo

# Логи и тесты
logs
*.log
coverage
.nyc_output
__tests__
*.test.*
*.spec.*

# Прочее
.vscode
.idea
.git
.gitignore
README.md
LICENSE
docker-compose*
Dockerfile*
nginx*
postgres_volume
test-data
*.md 